authenticationTypes=[ \
  "/\=IDP|GUEST", \
  "/solr\=SAML|PKI|BASIC", \
  "/admin\=GUEST", \
]
realms=[ \
  "/\=karaf", \
]
requiredAttributes=[ \
  "/\=", \
  "/solr\={http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=system-admin}", \
  "/system\={http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=system-admin}", \
  "/security-config\={http://schemas.xmlsoap.org/ws/2005/05/identity/claims/role\=system-admin}", \
]
service.pid="org.codice.ddf.security.policy.context.impl.PolicyManager"
traversalDepth=I"20"
whiteListContexts=[ \
  "${org.codice.ddf.system.rootContext}/SecurityTokenService", \
  "${org.codice.ddf.system.rootContext}/internal/metrics", \
  "/proxy", \
  "${org.codice.ddf.system.rootContext}/saml", \
  "${org.codice.ddf.system.rootContext}/idp", \
  "/idp", \
  "${org.codice.ddf.system.rootContext}/platform/config/ui", \
  "/login", \
  "/logout", \
  "${org.codice.ddf.system.rootContext}/internal/session", \
  "/error", \
]